<div>
  <!-- ログインしているユーザーの名前、フォロー人数 -->
  <div class="flex gap-10 mb-10">
    <h1 class="font-bold"><%= @current_user.name %></h1>
    <div class="flex gap-3">
      <%= link_to followings_path do %>
        <p>
          <span class="mr-1 font-bold text-2xl">
            <%= @current_user.followings.count %>
            </span>フォロー中
          </p>
      <% end %>
      <%= link_to followers_path do %>
        <p>
          <span class="mr-1 font-bold text-2xl">
            <%= @current_user.followers.count %>
          </span>フォロワー
        </p>
      <% end %>
    </div>
  </div>

  <!-- 自分の投稿 -->
  <% if @boards.present? %>
    <%= render "shared/boards" %>
  <% else %>
    <div class="my-4">投稿はありません</div>
  <% end %>
</div>