<div>
  <h1 class="font-bold">MyPage</h1>

    <ul>
      <%# @users.each do |user| %>
        <!--<li class="my-2"><%#= user.name %></li>-->
      <%# end %>

      <div class="text-xl">
        <%= @current_user.name %>
      </div>
    </ul>

  <div class="mt-10">
    <p>userid <%= session[:user_id] %></p>
  </div>

  <% if @boards.present? %>
    <% @boards.each do |board|  %>
      <div class="flex text-[16px]">
        <%= link_to board do %>
          <ul class="p-2 grid grid-cols-4 text-center font-bold hover:bg-gray-300 border-b-2">
            <li><%= board.id %></li>
            <li><%= board.title %></li>
            <li><%= board.name %></li>
            <li><%= board.created_at.to_s(:datetime_jp) %></li>
            <!--<li><%= board.updated_at.to_s(:datetime_jp) %></li>-->
          </ul>
        <% end %>
        <div class="hidden sm:block mt-4 text-center w-[100px] text-md">
          <%= button_to "削除", board, method: :delete, class: "danger-btn font-bold" %><!--buttonだと行けた-->
        </div>
      </div>
    <% end %>
  <% end %>
</div>