<div>
  <div class="flex gap-10 mb-10">
    <h1 class="font-bold"><%= @user.name %></h1>
    <div class="flex gap-3">
      <%= link_to followings_path do %>
        <p><span class="mr-1 font-bold text-2xl"><%= @user.followings.count %></span>フォロー中</p>
      <% end %>
      <%= link_to followers_path do %>
        <p><span class="mr-1 font-bold text-2xl"><%= @user.followers.count %></span>フォロワー</p>
      <% end %>
    </div>
    
  <div class="flex justify-start">
    <% if @user.present? && @current_user.present? && @user != @current_user %> <%# この投稿主は、登録してる？ %>
      <% if @current_user.following?(@user) %> <%# フォローしてる？ %>
        <!-- 下のpath全然違うよ -->
        <%= button_to "フォロー外す", user_relation_path(@user.id), method: :delete, class: "primary-btn opacity-70" %>
      <% else %>
        <%= button_to "フォローする", user_relations_path(@user.id), method: :post, class: "primary-btn" %>
      <% end %>
    <% end %>
  </div>
  </div>

  <% if @boards.present? %>
    <% @boards.each do |board|  %>
      <div class="flex text-[16px]">
        <%= link_to board do %>
          <ul class="p-2 grid grid-cols-4 text-center font-bold hover:bg-gray-300 border-b-2">
            <li><%= board.id %></li>
            <li><%= board.title %></li>
            <li><%= board.name %></li>
            <li><%= board.created_at.to_s(:datetime_jp) %></li>
            <!--<li><%= board.updated_at.to_s(:datetime_jp) %></li>-->
          </ul>
        <% end %>
        <!-- 自分の投稿のみ消せる -->
        <% if @current_user.present? && board.name == @current_user.name %>
          <div class="hidden sm:block mt-4 ml-2 text-md">
            <%= button_to "削除", board, method: :delete, class: "danger-btn font-bold" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="my-4">投稿はありません</div>
  <% end %>
</div>