<% @boards.each do |board|  %>
  <div class="flex text-[16px]">
    <!-- urlに/usersが含まれて、usersが自分のではない -->
    <div class="<%=request.path.match(/\/users(\/)?/) && !(request.path.match(/\/#{@current_user.id}(\/)?/)) ? 
      "max-w-[800px]" : "sm:w-[89.9%] md:w-[91.6%] lg:w-[92.5%] max-w-[800px]" %>"
    >
      <%= link_to board do %>
        <ul class="p-2 grid grid-cols-4 text-center font-bold <%= "bg-gray-300" if board.published == false %> hover:bg-gray-300 border-b-2">
          <li><%= board.id %></li>
          <li><%= board.title %></li>
          <li><%= board.name %></li>
          <li><%= board.created_at.to_s(:datetime_jp) %></li>
        </ul>
      <% end %>
    </div>
    
    <% if @current_user.present? && board.name == @current_user.name %>
      <div class="hidden sm:block mt-4 text-md">
        <%= button_to "削除", board, method: :delete, class: "danger-btn font-bold" %>
      </div>
    <% end %>
  </div>
<% end %>