<% if @board.comments %>
  <% @board.comments.each do |comment| %>
    <%= @board.comments.count %>
    <div class="p-4 mb-4 w-full font-bold bg-red-300 border-2 border-red-400 rounded">
      <%= simple_format(comment.comment) %>
      <p class="flex justify-end text-sm "><%= comment.name %></p>
    </div>
  <% end %>
<% end %>

<%
=begin%>
 <% @comments.each do |comment| %>
  <%= @comments.count %>
  <div class="p-4 mb-4 w-full font-bold bg-red-300 border-2 border-red-400 rounded">
    <%= comment.comment %>a
  </div>
<% end %> 
<%
=end%>

<div>
  <p>コメント記入</p>
  <%= form_with model: @comment, local: true do |f| %>
    <%= f.hidden_field :board_id %> <!-- 表示する必要のないデータ -->
    <div class="form-group">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: "form-input" %>
    </div>
    <div class="form-group">
      <%= f.label :comment, "コメント" %>
      <%= f.text_area :comment, class: "form-input" %>
    </div>
    <div>
      <%= f.submit "保存", class: "primary-btn" %>
    </div>
  <% end %>
</div>