<%# %=は、Rubyの実行結果を埋め込む formも実行結果を送るから必要 %>
<%# method: post %>

<!-- 今更だけど、1はtrue, 0はfalseとか出来ないよ
false: nil,false,  true: 1,0,"",true
<%= "" ? "apple" : "nonn" %> ->apple　三項演算子
<%= "anpan!" if nil %> ->""
-->


<!-- validationって、ここで書けば良くね？ -->
<%= form_with model: @board, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: "form-input", autofocus: true, required: true, maxlength: "20" %>
  </div>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-input", required: true, maxlength: "30" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "本文" %>
    <%= f.text_area :body, class: "form-input", rows: 10, required: true, maxlength: "500" %>
  </div>

  <!-- タグ -->
  <div>
    <p class="">タグ</p>
    <!--                   相手の要素名_ids 表示する :id value(checkbox), :name label(tag.text)　-->
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div>
        <%= tag.label class: "" do %>
          <%= tag.check_box class: "" %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.submit "保存", class: "primary-btn" %>
  </div>
<% end %>