<%= form_with model: @board, local: true do |f| %>
  <div class="form-group">
    <% if @current_user.present? %>
      <%= f.hidden_field :name, value: @current_user.name %>
    <% else %>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: "form-input", autofocus: true, required: true, maxlength: "20"%>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <% if @current_user.present? %>
      <%= f.text_field :title, class: "form-input", required: true, maxlength: "30", autofocus: true %>
    <% else %>
      <%= f.text_field :title, class: "form-input", required: true, maxlength: "30" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-input", rows: 10, required: true, maxlength: "500" %>
  </div>

  <!-- タグ -->
  <div>
    <p>タグ</p>
    <ul class="flex flex-wrap gap-2">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <%= tag.label class: "" do %>
          <%= tag.check_box class: "" %>
          <%= tag.text %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <label><%= f.radio_button :published, true %>公開</label>
    <label><%= f.radio_button :published, false %>非公開</label>
  </div>

  <div class="mt-4">
    <%= f.submit "#{request.url&.include?("edit") ? "更新" : "投稿"}", class: "primary-btn float-right" %>
  </div>
<% end %>