
<div>
  <section>
    <h1 class="font-bold">タグ一覧</h1>
    <% if @tags.present? %>
      <ul class="p-4 mt-6 flex flex-wrap gap-4 border-2 border-gray-300 rounded">
      <% @tags.each do |tag| %>
        <li class="flex">
          <%= tag.name %>
          <div class="overflow-hidden">
            <%= button_to "×", tag, method: :delete, class: "ml-1 px-[2.5px] text-white bg-red-600 text-4xl font-bold inline translate-y-[-27%]" %>
          </div>
        </li>
      <% end %>
      </ul>
    <% end %>
  </section>

  
  <section class="mt-10">
    <div>タグ作成</div>
    <%= form_with model: @tag, local: true do |f| %>
      <div class="form-group sm:flex-row sm:items-center sm:mt-4">
        <%#= f.label :name, "タグ名", class: "mb-4 sm:mr-4" %>
        <%= f.text_field :name, class: "form-input w-full sm:mr-2"%>
        <%= f.submit "作成", class: "inline primary-btn" %>
      </div>
    <% end %>
  </section>
</div>