<div>
    <div class="mb-10 flex justify-between items-center">
        <h1 class="text-xl">
            掲示板一覧
        </h1>
        <%#= link_to "新規作成", boards_new_path, class: "secondary-btn" pathが変更%>
        <%= link_to "新規作成", new_board_path, class: "secondary-btn"%>
    </div>
    <section class="w-[90%]">
        <ul class="p-2 grid grid-cols-5 text-center bg-black text-white font-bold">
            <li>ID</li>
            <li>タイトル</li>
            <li>作成者</li>
            <li>作成日時</li>
            <li>更新日時</li>
        </ul>
    </section>

    <section>
        <% @board.each do |board|  %>
            <div class="flex text-[16px]">
                <%= link_to board do %>
                    <ul class="p-2 w-[90%] grid grid-cols-5 text-center font-bold hover:bg-gray-300 border-b-2">
                        <li><%= board.id %></li>
                        <li><%= board.title %></li>
                        <li><%= board.name %></li>
                        <li><%= board.created_at.to_s(:datetime_jp) %></li>
                        <li><%= board.updated_at.to_s(:datetime_jp) %></li>
                    </ul>
                <% end %>
                <div class="flex items-center w-[100px] text-md">
                    <%= button_to "削除", board, method: :delete, class: "danger-btn" %><!--buttonだと行けた-->
                </div>
            </div>
        <% end %>
    </section>

    <!-- kaminariのページネーション -->
    <%= paginate @board %>
</div>