<div>
    <% if flash[:notice] %>
        <div class="p-4 mb-10 w-full font-bold bg-green-300 border-2 border-green-400 rounded"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="p-4 mb-10 w-full font-bold bg-red-300 border-2 border-red-400 rounded"><%= flash[:error] %></div>
    <% end %>

    <div class="mb-10 flex justify-between items-center">
        <h1 class="text-xl">
            掲示板一覧
        </h1>

        <div class="flex items-center gap-4">
            <!-- submitで、表示するパス -->
            <%= form_tag boards_path, method: :get, class: "p-1 border-2 border-gray-300 rounded" do %>
                <!-- select option。第一にselectのname属性。第二にselectの選択肢を複数作成 Tag.allが選択肢、:idがvalueにセット、:nameは表示名、次が何を選択するか -->
                <%= select_tag :tag_id,
                                options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                                {
                                    prompt: "タグで絞り込む", # 何も選択していない時表示
                                    class: "",
                                    onchange: "submit(this.form);" # 変更される度に実行(ここではsubmit)
                                }
                %>
            <% end %>

            <%#= link_to "新規作成", boards_new_path, class: "secondary-btn" pathが変更%>
            <%= link_to "新規作成", new_board_path, class: "secondary-btn"%>
        </div>
    </div>
    <section class="w-[83%] sm:w-[88%]">
        <ul class="p-2 grid grid-cols-5 text-center bg-black text-white font-bold">
            <li>ID</li>
            <li>タイトル</li>
            <li>作成者</li>
            <li>作成日時</li>
            <li>更新日時</li>
        </ul>
    </section>

    <section>
        <% @boards.each do |board|  %>
            <div class="flex text-[16px]">
                <%= link_to board do %>
                    <ul class="p-2 grid grid-cols-5 text-center font-bold hover:bg-gray-300 border-b-2">
                        <li><%= board.id %></li>
                        <li><%= board.title %></li>
                        <li><%= board.name %></li>
                        <li><%= board.created_at.to_s(:datetime_jp) %></li>
                        <li><%= board.updated_at.to_s(:datetime_jp) %></li>
                    </ul>
                <% end %>
                <div class="flex items-center justify-center w-[200px] sm:w-[140px] text-md">
                    <%= button_to "削除", board, method: :delete, class: "danger-btn font-bold" %><!--buttonだと行けた-->
                </div>
            </div>
        <% end %>
    </section>

    <!-- kaminariのページネーション -->
    <%= paginate @boards %>
</div>