<div>
  <div class="mb-10 flex flex-col sm:flex-row sm:justify-between items-center">
    <h1 class="mb-4 sm:mb-0 font-bold">
      掲示板一覧
    </h1>

    <!-- タグ検索 -->
    <div class="flex items-center gap-4">
      <!-- submitで、表示するパス -->
      <%= form_tag boards_path, method: :get, class: "p-1 border-2 border-gray-300 rounded" do %>
        <!-- select option。第一にselectのname属性。第二にselectの選択肢を複数作成 Tag.allが選択肢、:idがvalueにセット、:nameは表示名、次が何を選択するか -->
        <%= select_tag :tag_id,
          options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            prompt: "タグで絞り込む", # 何も選択していない時表示
            class: "",
            onchange: "submit(this.form);" # 変更される度に実行(ここではsubmit)
          }
        %>
      <% end %>
      <!--

      <p><%= @asc.present? ? @asc : "non"%></p>
      <%= form_tag boards_path, method: :get, class: "p-1 border-2 border-gray-300 rounded" do %>
        <%= check_box_tag "asc" %>
      <% end %>

      <%= form_with url: boards_path  do |f| %>
        <%= f.check_box :acs, id: :samurai_checkbox,:as => :boolean%>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <%= tag.label class: "" do %>
          <%= tag.check_box class: "" %>
          <%= tag.text %>
        <% end %>
      <% end %>
        <%= f.submit "Submit" %>
      <% end %>
      -->

      <%#= link_to "新規作成", boards_new_path, class: "secondary-btn" pathが変更%>
      <%= link_to "新規作成", new_board_path, class: "secondary-btn"%>
    </div>
  </div>
  <section class="sm:w-[88%]">
    <ul class="p-2 grid grid-cols-4 text-center bg-black text-white text-sm sm:text-xl font-bold">
      <li>ID</li>
      <li>タイトル</li>
      <li>作成者</li>
      <li>作成日時</li>
      <!--<li>更新日時</li>-->
    </ul>
  </section>

  <section>
    <% @boards.each do |board|  %>
      <div class="flex text-[16px]">
        <div class="sm:w-[88%] max-w-[800px]">
          <%= link_to board do %>
            <ul class="p-2 flex text-center font-bold hover:bg-gray-300 border-b-2">
              <li class="w-[22.5vw]"><%= board.id %></li>
              <li class="w-[22.5vw]"><%= board.title %></li>
              <li class="w-[22.5vw]"><%= board.name %></li>
              <li class="w-[22.5vw]"><%= board.created_at.to_s(:datetime_jp) %></li>
              <!--<li><%= board.updated_at.to_s(:datetime_jp) %></li>-->
            </ul>
          <% end %>
        </div>
        <!-- 自分の投稿のみ消せる -->
        <% if @current_user.present? && board.name == @current_user.name %>
          <div class="hidden sm:block mt-4 ml-2 text-md">
            <%= button_to "削除", board, method: :delete, class: "danger-btn font-bold" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>

  <!-- kaminariのページネーション -->
  <%= paginate @boards %>
</div>