<div>
  <section class="mb-10">
    <div class=" flex flex-col sm:flex-row sm:justify-between items-center">
      <% breadcrumb :boards_path %>
      <h1 class="mb-4 sm:mb-0 font-bold">
        掲示板一覧
      </h1>
      <div class="flex items-center gap-4">
        <!-- タグ検索  送信するpath -->
        <%= form_tag boards_path, method: :get, class: "p-1 border-2 border-gray-300 rounded" do %>
          <!-- select option。第一にselectのname属性。第二にselectの選択肢を複数作成 Tag.allが選択肢、:idがvalueにセット、:nameは表示名、次が何を選択するか -->
          <%= select_tag :tag_id,
            options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
            {
              prompt: "タグで絞り込む", # 何も選択していない時表示
              class: "cursor-pointer",
              onchange: "submit(this.form);" # onchange変更される度に実行(ここではsubmit)
            }
          %>
        <% end %>

        <!-- 押すと全board表示 -->
        <%= form_with scope: :all, url:boards_path, local: true, method: :get do |f| %>
          <%= f.hidden_field :all, value: 1 %>
          <%= f.submit "全表示", class: "p-1 border-2 border-gray-300 rounded cursor-pointer" %>
        <% end %>

        <%= link_to "作成", new_board_path, class: "secondary-btn"%>
      </div>
    </div>

    <div class="mt-4">
      <%= search_form_for @q, url: boards_path do |f| %>
        <div class="flex gap-2 justify-center items-center sm:flex-row sm:justify-end">
          <div class="flex flex-col gap-2 sm:flex-row">
            <div><%= f.text_field :title_cont, placeholder: "タイトル", class: "form-input" %></div>
            <div><%= f.text_field :name_cont, placeholder: "制作者", class: "form-input" %></div>
          </div>
          <div class="inline" ><%= f.submit "検索", class: "secondary-btn" %></div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="sm:w-[89.9%] md:w-[91.6%] lg:w-[92.5%]">
    <ul class="p-2 grid grid-cols-4 text-center bg-black text-white text-sm sm:text-xl font-bold">
      <li><%= sort_order "id", "ID" %></li>
      <li><%= sort_order "title", "タイトル" %></li>
      <li><%= sort_order "name", "作成者" %></li>
      <li><%= sort_order "created_at", "作成日時" %></li>
    </ul>
  </section>

  <section>
    <!-- boards一覧 -->
    <%= render "shared/boards" %>
  </section>

  <!-- kaminariのページネーション -->
  <%= paginate @boards %>
</div>