<div>
    <div class="mb-10 flex justify-between items-center">
        <h1 class="text-xl">
            掲示板一覧
        </h1>
        <%= link_to "新規作成", boards_new_path, class: "secondary-btn"%>
    </div>
    <section class="w-full">
        <ul class="p-2 grid grid-cols-5 text-center bg-black text-white font-bold">
            <li>ID</li>
            <li>タイトル</li>
            <li>作成者</li>
            <li>作成日時</li>
            <li>更新日時</li>
        </ul>
    </section>

    <section>
        <% @board.each do |board|  %>
            <%= link_to "/boards/#{board.id}" do %>
                <ul class="p-2 grid grid-cols-5 text-center font-bold hover:bg-gray-300 border-b-2">
                    <li><%= board.id %></li>
                    <li><%= board.title %></li>
                    <li><%= board.name %></li>
                    <li><%= board.created_at.to_s(:datetime_jp) %></li>
                    <li><%= board.updated_at.to_s(:datetime_jp) %></li>
                </ul>
            <% end %>
        <% end %>
    </section>
</div>