<!-- board個別ページ -->
<div>
  <% breadcrumb :boards_path_show, @board %>
  <div class="<%='mt-4 flex justify-between items-center' if @user.present? && @current_user.present?%>">
    <!-- ユーザーへのリンク、フォローボタン -->
      <div class="flex justify-start items-center gap-3">
        <% if @user.present? %> <%# 投稿者は登録している %>
            <div class="w-[70px] h-[70px]"><%= image_tag @user.image_url, class: 'rounded-full w-full h-full' %></div>
            <%= link_to @user.name, @user, class: "mr-2 text-2xl font-bold flex items-center" %>
          <% if @current_user.present? && @user != @current_user %> <%# 今ログインしていて、投稿者は自分ではない %>
            <% if @current_user.following?(@user) %> <%# フォローしてる？ %>
              <%= button_to "フォロー外す", user_relation_path(@user.id), method: :delete, class: "primary-btn opacity-60" %>
            <% else %>
              <%= button_to "フォローする", user_relations_path(@user.id), method: :post, class: "primary-btn" %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    <div class="flex gap-3 justify-end">
      <div><%= link_to "一覧",boards_path, class: "secondary-btn" %></div>
      <% if @current_user.present? && @board.name == @current_user.name %>
        <div><%= link_to "編集", edit_board_path, class: "secondary-btn" %></div>
      <% end %>
    </div>
  </div>
  
  <!-- boardのタイトル、タグ、本文 -->
  <section>
    <div class="mt-10 font-bold w-90 border-2 border-gray-300">
      <div class="p-4 bg-gray-100 text-3xl">
        <%= @board.title %>
        <% if @board.published == false %>
          <span class="danger-btn text-xl">非公開</span>
        <% end %>
        <% if @board.tags.present? %>
          <ul class="flex flex-wrap gap-2 mt-2">
            <% @board.tags.each do |tag| %>
              <li class="inline px-2 py-1 bg-blue-500 text-white text-sm rounded"><%= tag.name %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="p-4 text-md"><%= simple_format(@board.body) %></div>
      <p class="p-4 flex justify-end text-sm"><%= @board.name %></p>
    </div>

    <div class="<%='flex justify-between' if @user.present? && @current_user.present? && @user != @current_user%>">
      <% if @user.present? && @current_user.present? && @user != @current_user %> <%# 投稿者は登録していて自分ではない %>
        <!-- いいね -->
        <% if @board.favorited_by?(@current_user) %>
          <%= button_to board_favorite_path(@board.id), method: :delete do %>
            💖<%= @board.favorites.count %> いいね
          <% end %>
        <% else %>
          <%= button_to board_favorites_path(@board.id), method: :post do %>
            ♡<%= @board.favorites.count %> いいね
          <% end %>
        <% end %>
      <% end %>
      <div class="text-sm text-gray-500 text-right">
        <p>作成日：<%= @board.created_at.to_s(:datetime_jp) %></p>
        <p>更新日：<%= @board.updated_at.to_s(:datetime_jp) %></p>
      </div>
    </div>
  </section>

  <!-- 投稿が自分のなら消せる -->
  <% if @current_user.present? && @board.name == @current_user.name %>
    <div class="flex gap-3 justify-end">
      <%= button_to "投稿を削除", @board, method: :delete, class: "danger-btn mt-4" %>
    </div>
  <% end %>
  
  <!-- コメント -->
  <%= render "shared/comment_form" %> 
  <%#= render "comment_form", comment: @comment %>
</div>


<!-- delete 失敗の残骸 -->
<%#= link_to "削除", boards_path(@board), method: :delete, class: "secondary-btn" %>
<%#= link_to "削除", boards_path(@board.id), method: :delete, class: "secondary-btn" %>
<%#= link_to "削除", boards_path, method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path(@board, @board.id), method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path(@board.id), method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path, method: :delete, class: "secondary-btn" %>

<%#= button_to "削除", "#{@board.id}", method: :delete, class: "secondary-btn" %>