<!-- 個人ページ boards/1 -->
<div class="">

  <!-- flashメッセージ -->
  <% if flash[:notice] %>
    <div class="p-4 mb-10 w-full font-bold bg-green-300 border-2 border-green-400 rounded"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:error].instance_of?(Array) %>
    <ul class="p-4 mb-10 w-full font-bold bg-red-300 border-2 border-red-400 rounded">
      <% flash[:error].each do |msg| %>
        <li class="mb-2"><%= msg %></li>
      <% end %>
    </ul>
  <% elsif flash[:error] %>
    <p class="p-4 mb-10 w-full font-bold bg-red-300 border-2 border-red-400 rounded"><%= flash[:error] %></p>
  <% end %>

  <div class="flex gap-3 justify-end">
    <%= link_to "一覧",root_path, class: "secondary-btn" %>
    <%= link_to "編集", edit_board_path, class: "secondary-btn" %>
  </div>
  
  <section class="mt-10 font-bold w-90 border-2 border-gray-300">
    <div class="p-4 bg-gray-100 text-3xl">
      <%= @board.title %>
      <ul>
      <% @board.tags.each do |tag| %>
        <li class="inline px-2 py-1 bg-blue-500 text-white text-sm rounded"><%= tag.name %></li>
      <% end %>
      </ul>
    </div>
    <div class="p-4 text-md"><%= simple_format(@board.body) %></div>
    <p class="p-4 flex justify-end text-sm"><%= @board.name %></p>
  </section>

  <div class="flex gap-3 justify-end">
    <%= button_to "削除", @board, method: :delete, class: "danger-btn mt-4" %>
  </div>
  
  <%= render "shared/comment_form" %> 
  <%#= render "comment_form", comment: @comment %>
</div>



<%#= link_to "削除", boards_path(@board), method: :delete, class: "secondary-btn" %>
<%#= link_to "削除", boards_path(@board.id), method: :delete, class: "secondary-btn" %>
<%#= link_to "削除", boards_path, method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path(@board, @board.id), method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path(@board.id), method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path, method: :delete, class: "secondary-btn" %>

<%#= button_to "削除", "#{@board.id}", method: :delete, class: "secondary-btn" %>