<!-- 個人ページ boards/1 -->
<div class="">

  <div class="flex justify-start">
    <% if @user.present? && @user != @current_user %> <%# この投稿主は、登録してる？ %>
      <%# if @current_user.following?(@user) %> <%# フォローしてる？ %>
        <%# 下のpath全然違うよ %>
        <%#= button_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
      <%# else %>
        <%#= button_to "フォローする", user_relationships_path(@user.id), method: :post %>
      <%# end %>

      フォローする？
      <%#= form_with url: user_relation_index_path, local: true, method: :post do |f| %>
      <%= form_with model: @follow, local: true, method: :post do |f| %>
        <%= f.hidden_field :follower_id, value: @current_user.id %>
        <%= f.hidden_field :followed_id, value: @user.id %>
        <%= f.submit "Submit" %>
      <% end %>
      <%#= form_with model: @current_user.active_relationships.build, local: true do |f| %>
        <%#= hidden_field_tag :followed_id, @user.id %>
        <%#= f.hidden_field :user_id, @user.id %>
        <%#= f.submit "Follow", class: "btn btn-primary" %>
      <%# end %>
      <%#= button_to "フォローする", user_relation_index_path(@user.id), method: :post %>
    <% end %>

  </div>

  <div class="flex gap-3 justify-end">
    <%= link_to "一覧",boards_path, class: "secondary-btn" %>
    <% if @current_user.present? && @board.name == @current_user.name %>
      <%= link_to "編集", edit_board_path, class: "secondary-btn" %>
    <% end %>
  </div>
  
  <!-- タイトル、タグ、本文 -->
  <section>
    <div class="mt-10 font-bold w-90 border-2 border-gray-300">
      <div class="p-4 bg-gray-100 text-3xl">
        <%= @board.title %>
        <% if @board.tags.present? %>
          <ul class="flex flex-wrap gap-2 mt-2">
            <% @board.tags.each do |tag| %>
              <li class="inline px-2 py-1 bg-blue-500 text-white text-sm rounded"><%= tag.name %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="p-4 text-md"><%= simple_format(@board.body) %></div>
      <p class="p-4 flex justify-end text-sm"><%= @board.name %></p>
    </div>

    <div class="text-sm text-gray-500 text-right">
      <p>作成日：<%= @board.created_at.to_s(:datetime_jp) %></p>
      <p>更新日：<%= @board.updated_at.to_s(:datetime_jp) %></p>
    </div>
  </section>
  <!-- 投稿が自分のなら消せる -->
  <% if @current_user.present? && @board.name == @current_user.name %>
    <div class="flex gap-3 justify-end">
      <%= button_to "投稿を削除", @board, method: :delete, class: "danger-btn mt-4" %>
    </div>
  <% end %>
  
  <!-- コメント -->
  <%= render "shared/comment_form" %> 
  <%#= render "comment_form", comment: @comment %>
</div>



<%#= link_to "削除", boards_path(@board), method: :delete, class: "secondary-btn" %>
<%#= link_to "削除", boards_path(@board.id), method: :delete, class: "secondary-btn" %>
<%#= link_to "削除", boards_path, method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path(@board, @board.id), method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path(@board.id), method: :delete, class: "secondary-btn" %>
<%#= button_to "削除", boards_path, method: :delete, class: "secondary-btn" %>

<%#= button_to "削除", "#{@board.id}", method: :delete, class: "secondary-btn" %>