<!-- 個人ページ boards/1 -->
<div class="">
  <div class="flex gap-3 justify-end">
    <%= link_to "一覧",root_path, class: "secondary-btn" %>
    <%= link_to "削除", root_path, class: "secondary-btn" %>
  </div>

  <section class="mt-10 font-bold w-90 border border-gray-300">
    <div class="p-4 bg-gray-100 text-3xl"><%= @board.title %></div>
    <div class="p-4 text-md"><%= simple_format(@board.body) %></div>
    <p class="p-4 flex justify-end text-sm"><%= @board.name %></p>
  </section>
</div>