<header class="w-full h-[100px] bg-black text-white flex flex-col justify-center">
  <nav>
    <div class="flex justify-between gap-6 w-[95%] mx-auto max-w-[800px]">
      <div class="flex gap-4">
        <%= link_to "BoardApp", root_path, class: "duration-300 hover:opacity-60" %>
        <ul class="sm:flex gap-4 hidden">
          <li><%= header_link_item("ホーム",root_path) %></li>
          <li><%= header_link_item("掲示板一覧",boards_path) %></li>
          <li><%= header_link_item("作成",new_board_path) %></li>
          <li><%= header_link_item("タグ",tags_path) %></li>
          <li><%= header_link_item("ユーザー",users_path) %></li>
        </ul>
      </div>

        <!-- ログイン時 -->
      <ul class="flex gap-4">
        <%# <% if session[:user_id].present? %>
        <% if @current_user %>
          <li><%= link_to "マイページ", mypage_path, class: "duration-300 hover:opacity-60" %></li>
          <li><%= button_to "ログアウト", logout_path, method: :delete, class: "duration-300 hover:opacity-60" %></li>
        <% else %>
          <li><%= link_to "登録", new_user_path, class: "duration-300 hover:opacity-60" %></li>
          <li><%= link_to "ログイン", root_path, class: "duration-300 hover:opacity-60" %></li>
        <% end %>
      </ul>
      <!-- ページ内検索
      <form class="">
        <input type="search" name="" id="">
        <button type="submit"></button>
      </form>
      -->
    </div>
  </nav>
</header>

<!--
  複数の書き方
  <%= link_to boards_path do%>
    Rails Udemy
  <% end %>
-->