<header class="w-full h-[100px] bg-black text-white flex flex-col justify-center">
  <nav>
    <div class="flex gap-6 w-[95%] mx-auto max-w-[800px]">
      <%= link_to "BoardApp", root_path, class: "duration-300 hover:opacity-60" %>
      <ul class="flex gap-4">
        <li><%= header_link_item("ホーム",root_path) %></li>
        <li><%= header_link_item("掲示板一覧",boards_path) %></li>
        <li><%= header_link_item("作成",new_board_path) %></li>
        <li><%= header_link_item("タグ",tags_path) %></li>

        <!-- ログイン時 -->
        <% if session[:user_id].present? %>
          <li><%= link_to "マイページ", mypage_path, class: "" %></li>
          <li><%= button_to "ログアウト", logout_path, method: :delete, class: "" %></li>
        <% else %>
          <li><%= link_to "登録", new_user_path, class: "" %></li>
          <li><%= link_to "ログイン", root_path, class: "" %></li>
        <% end %>
      </ul>

        <% if session[:user_id].present? %>
          login!
        <% else %>
          logout
        <% end %>


      <!-- ページ内検索
      <form class="">
        <input type="search" name="" id="">
        <button type="submit"></button>
      </form>
      -->
    </div>
  </nav>
</header>

<!--
  複数の書き方
  <%= link_to boards_path do%>
    Rails Udemy
  <% end %>
-->