<!DOCTYPE html>
<html>
  <head>
    <title>Simple-Boards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        .primary-btn {
          @apply py-2 px-6 font-bold rounded-md bg-blue-500 text-white cursor-pointer inline border border-2 border-blue-500 duration-300 hover:bg-white hover:text-blue-500 ;
        }
        .secondary-btn {
          @apply py-1 px-4 font-bold rounded-md bg-black text-white cursor-pointer border border-2 border-black duration-300 hover:bg-white hover:text-black ;
        }
        .danger-btn {
          @apply py-1 px-3 font-bold rounded-md bg-red-500 text-white cursor-pointer inline border border-2 border-red-500 duration-300 hover:bg-white hover:text-red-500 ;
        }
        .form-group {
          @apply flex flex-col my-4
        }
        .form-input {
          @apply p-1 border border-gray-500 ;
        }
    </style>
  </head>

  <body>
    <div class="text-lg sm:text-xl">
      <%= render "application/header" %>
      <main class="mx-auto my-4 sm:my-10 w-[95%] max-w-[800px]">
        <%= render "shared/flash_message" %>
        <%= breadcrumbs separator: " > ", class: "text-[15px]" %>
        <%= yield %>
        <!-- 下にでるやつ -->
        <%= debug(params) if Rails.env.development? %>
      </main>
    </div>
  </body>
</html>
